# Aula 2
# Introdução ao Python e ao Pandas

#### 1 - O interpretador Python mantém o estado de uma célula para outra

In [ ]:
x = 4
y =1
x + y

In [ ]:
x

#### 2 - Função que pega dois inteiros e faz a adição.

In [ ]:
def add_number(x,y):
    return x + y

add_number(1,2)

#### 3 - Função atualizada para obter um terceiro parâmetro opcional. A função print permite imprimir várias expressões dentro de uma única célula.

In [ ]:
def add_number(x,y, z=None):
    if (z==None):
        return x+y
    else:
        return x + y +z

print(add_number('a',str(1)))
print(add_number(1,2,3))

#### 4 - Função atualizada para obter um quarto parâmetro True/False

In [ ]:
def add_number(x,y, z=None, flag=False):
    if (flag == True):
        print('Flag!!!')
    if (z==None):
        return x+y
    else:
        return x + y +z

add_number(1,2, True)

#### 5 - Atribuir a função à uma variável

In [ ]:
def add_number(x,y):
    return x + y

a = add_number

a(1,2)

## Tipos e Sequências

#### 6 - Usa-se type para saber o tipo do objeto

In [ ]:
type('Vitor Rolla')

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(add_number)

In [ ]:
type (1.0)

#### 7 - Tuplas são imutáveis, não podem ser alteradas

In [ ]:
x = ("a", 1, 'b', 2)
type(x)

#### 8 - Listas são mutáveis

In [ ]:
x = ["a", 1, 'b', 2]
x
type(x)

#### 9 - Utiliza-se append para se acrescentar um objeto à lista

In [ ]:
x.append(3.3)
print(x)

#### 10 - Loop iterando cada objeto de uma lista

In [ ]:
for item in x:
    print (item)

#### 11 - Loop usando o operador de indexação

In [ ]:
i = 0
while (i!=len(x)):
    print(x[i])
    i+=1

#### 12 - Para concatenar listas podemos usar o operador +

In [ ]:
[1,2] + [3,4]

#### 13 - Para repetir listas podemos usar o operador *

In [ ]:
[1,3]*3

#### 14 - Para saber se um objeto faz parte de uma lista temos o operador in

In [ ]:
1 in [1,2,3]

#### 15 - Notações entre colchetes para fatiar (slice) strings

In [ ]:
x = 'Isso eh uma string'
print(x[0:2])

#### 16 - Assim retornamos o último caracter da string

In [ ]:
x[-1]

#### 17 - Abaixo, fatiamos do quarto elementodo fim e paramos no penúltimo elemento.

In [ ]:
x[-4:-2]

#### 18 - Começa com o primeiro caractere e vai até a posição três

In [ ]:
x[:3]

#### 19 - Começa no quarto caractere, porque a indexação sempre começa com zero, e vai até o final da lista

In [ ]:
x[3:-1]

#### 20 - As operações que você pode fazer em uma lista, você pode fazer numa string

In [ ]:
firstname = 'Vitor'
lastname = 'Rolla'

print(firstname + ' ' + lastname)
print(firstname*3)
print('itor' in firstname)

#### 21 - Split retorna uma lista contendo todas as palavras de uma string, conforme o caractere de separação

In [ ]:
firstname = 'Vitor Rolla'.split(' ')[0]
print(firstname)

#### 22 - Precisamos ter certeza de convertar objetos antes de utilizá-los

In [ ]:
'Vitor' + 2

In [ ]:
'Vitor' + str(300)

#### 23 - Dicionários associam chaves a valores

In [ ]:
x = {'Vitor Rolla': 'vitorgr@impa.br', 'Artur Avila': 'aavila@impa.br'}
print(x)

#### 24 - Adicionar novos itens ao dicionário usando o operador de indexação

In [ ]:
x['Pedro Arthur'] = None
type(x['Pedro Arthur'])
print(x)

#### 25 - Iterando por todas as chaves

In [ ]:
for name in x:
    print(x[name])

#### 26 - Iterando pelos valores

In [ ]:
for email in x.values():
    print(email)

#### 27 - Podemos iterar por chaves e valores simultâneamente

In [ ]:
for name, email in x.items():
    print(name)
    print(email)

#### 28 - Podemos descompactar uma sequencia em diferentes variáveis

In [ ]:
x = ('Vitor', 'Guerra', 'Rolla')
fname, sname, lname = x

In [ ]:
fname

In [ ]:
sname

#### 29 - É preciso ter certeza que o número de valores sendo descompactados casa com o número de variáveis recebendo os valores

In [ ]:
x = ('Vitor', 'Guerra', 'Rolla', '123')
fname, sname, lname = x

## Lendo Arquivos .CSV

#### 30 - Vamos importar um arquivo CSV (mpg.csv), que contém dados sobre o consumo de combustíves de 234 carros

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [ ]:
import csv

%precision 2

with open('./CSV/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[:3]

#### 31 - O comprimento da lista mostra que ela contém 234 dicionários

In [ ]:
len(mpg)

#### 32 - Podemos usar o método chaves para listar as colunas

In [ ]:
mpg[0].keys()

#### 33 - Média do gasto de combustível entre todos os carros na cidade

In [ ]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

#### 33 - Média do gasto de combustível entre todos os carros na estrada

#### 34 - Valores únicos do número de cilindros

In [ ]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

#### 35 - Exemplo mais complexo: agrupar carros conforme cilindros e encontrar seus gasto de combustível por grupo

In [ ]:


# iteratar sobre todos os níveis de cilindro


# iterar por todos os dicionários
# se o cilindro combinar,
# adicione no gasto na cidade
# incrementar o contador
# anexar a tupla ('cylinder', 'avg mpg')

#### 36 - Quais são as classes de veículos?

In [ ]:
veiculoClass = set(d['class'] for d in mpg)
veiculoClass

#### 37 - Encontrar a média do gasto na estrada por classe de veículos

## Tempo e Datas

#### 38 - Importar datetime

In [ ]:
import datetime as dt
import time as tm

#### 39 - Hora atual desde 1970

In [ ]:
tm.time()

#### 40 - Converter o timestamp para datetime

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

#### 41 - Atributos do datetime

In [ ]:
dtnow.hour

#### 42 - Diferença entre datas

In [ ]:
delta = dt.timedelta(days =100)
delta

#### 43 - Today retorna a data corrente

In [ ]:
today = dt.date.today()

In [ ]:
today - delta

In [ ]:
today > today - delta

## Python Avançado - Orientação a Objetos

#### 44 - Exemplo de classe em Python

In [ ]:
class Person:
    department = 'IMPA'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location =new_location

#### 45 - Instanciando a classe

In [ ]:
person = Person()
person.set_name('Vitor Rolla')
print(person.name)

#### 46 - Mapeando a função min() entre duas listas

In [ ]:
store1 = [12.00, 11.00, 12.34, 2.34]
store2 = [9.00, 10.00, 11.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

#### 47 - Iterando sobre o objeto mapeado

In [ ]:
list(cheapest)

## Python Avançado - Lambdas & LC

#### 48 - Exemplo de função lambda que recebe 3 parâmetros e soma os dois primeiros

In [ ]:
my_function = lambda a, b, c: a + b

#### 49 - Retorna uma referência

In [ ]:
my_function(1,2,3)

#### 50 - Vamos iterar de 0 a 999 e retornar os números pares

In [ ]:
my_list = []
for number in range(0,1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

#### 51 - A mesma coisa da anterior, mas com list comprehension

In [ ]:
my_list = [number for number in range(0,1000) if number % 2==0]
my_list

## Python Avançado - Numpy

#### 52 - Importar Numpy

In [ ]:
import numpy as np

#### 53 - Criar lista e trasformar e numpy array

In [ ]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

#### 54 - Passando a lista diretamente também funciona

In [ ]:
y = np.array([4, 5, 6])
y

#### 55 - Lista de listas para criar arrays multidimensionais

In [ ]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

#### 56 - O método shape retorna as dimensões de um array

In [ ]:
m.shape

#### 57 - Retorna valores espaçados, começa em 0 e vai de 2 a 2 até 30

In [ ]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

#### 58 - Mesmos dados em uma nova forma

In [ ]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

#### 59 - Retorna 9 valores espaçados entre 0 e 4

In [ ]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

#### 60 - Muda a forma e o tamanho do array

In [ ]:
o.resize(3, 3)
o

#### 61 - Matriz de 1s

In [ ]:
np.ones((3, 2))

#### 62 - Matriz de 0s

In [ ]:
np.zeros((2, 3))

#### 63 - Matriz com 1s nas diagonais e 0s no resto

In [ ]:
np.eye(3)

#### 64 - Constrói uma matriz diagonal

In [ ]:
np.diag(y)

#### 65 - Constrói uma matriz repetindo uma lista

In [ ]:
np.array([1, 2, 3] * 3)

#### 66 - Repetindo os elementos da matriz

In [ ]:
np.repeat([1, 2, 3], 3)

#### 67 - Matriz de 1s dois por três

In [ ]:
p = np.ones([2, 3], int)
p

#### 68 - Empilhamento vertical

In [ ]:
np.vstack([p, 2*p])

#### 69 - Empilhamento horizontal

In [ ]:
np.hstack([p, 2*p])

#### 70 - Use `+`, `-`, `*`, `/`e `**` para executar adição, subtração, multiplicação, divisão e potência "element wise"

In [ ]:
print(x + y) # [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) #   [1 2 3] - [4 5 6] = [-3 -3 -3]

In [ ]:
print(x * y) #   [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) #   [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

In [ ]:
print(x**2) #   [1 2 3] ^2 =  [1 4 9]

#### 71 - Produto Escalar

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [ ]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

#### 72 - Matriz anterior Y e seus valores quadráticos em uma nova matriz Z

In [ ]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array
z

#### 73 - Antes da transposição

In [ ]:
z.shape

#### 74 - Depois da transposição

In [ ]:
z.T

#### 75 - Shape depois da transposição

In [ ]:
z.T.shape

#### 76 - Para ver o tipo dos elementos da matriz

In [ ]:
z.dtype

#### 77 - Para fazer cast de tipos

In [ ]:
z = z.astype('f')
z.dtype

#### 78 - Métodos para se executar em matrizes

In [ ]:
a = np.array([-4, -2, 1, 3, 5])

In [ ]:
a.sum()

In [ ]:
a.max()

In [ ]:
a.min()

In [ ]:
a.mean()

In [ ]:
a.std()

#### 79 - `argmax` e `argmin` retornam o  index do máximo e mínimo valores na matriz

In [ ]:
a.argmax()

In [ ]:
a.argmin()

#### 80 - Vetor com quadrados de 0 a 12

In [ ]:
s = np.arange(13)**2
s

#### 81 - Exemplos de indexação

In [ ]:
s[0], s[4], s[-1]

#### 82 - Array[start:stop], se houver um deles vazio começa no início ou fim

In [ ]:
s[1:5]

#### 83 - Números negativos contam pelas costas (começando pelo final)

In [ ]:
s[-4:]

#### 84 - Um segundo "dois pontos" pode ser usado para indicar o tamanho do passo. Nesse exemplo começamos contando do quinto elemento de trás para frente, dando passos -2 até o início do array

In [ ]:
s[-5::-2]

#### 85 - Arrays multidimensionais

In [ ]:
r = np.arange(36)
r.resize((6, 6))
r

#### 86 - Indexação multidimensional

In [ ]:
r[2, 2]

#### 87 - Fatiamento multidimensional

In [ ]:
r[3, 3:6]

#### 88 - Fatiar todas as linhas até a linha 2 (sem incluí-la), e todas as colunas até a última (sem incluí-la)

In [ ]:
r[:2, :-1]

#### 89 - Fatiamento da última linha, com um passo de 2 na coluna

In [ ]:
r[-1, ::2]

#### 90 - Indexação condicional

In [ ]:
r[r > 30]

#### 91 - Atribuição de valores com indexação condicional

In [ ]:
r[r > 30] = 30
r

#### 92 - Cópia vs. Fatiamento: Atenção `r2` é um fatiamento de  `r`

In [ ]:
r2 = r[:3,:3]
r2

#### 93 - Atribuir os elementos da fatia r2 para 0

In [ ]:
r2[:] = 0
r2

#### 94 - r também mudou!!!

In [ ]:
r

#### 95 - Para copiar sem afetar o original use r.copy()

In [ ]:
r_copy = r.copy()
r_copy

#### 96 - Se mudarmos r.copy, não mudamos r

In [ ]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

#### 97 - Criar uma matriz 4x3 com números aleatórios de 0 a 9

In [ ]:
test = np.random.randint(0, 10, (4,3))
test

#### 98 - Iterando por linhas

In [ ]:
for row in test:
    print(row)

#### 99 - Iterando por index

In [ ]:
for i in range(len(test)):
    print(test[i])

#### 100 - Iterando por linhas e index

In [ ]:
for i, row in enumerate(test):
    print('row', i, 'is', row)